# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
*.proj
*.Rproj

# intermediate rmarkdown/pandoc/latex files
*.tex
*_files

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

